body{
    width: 80%;
    margin: auto;
    height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;

}
#button1{
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-width: 20px;
    margin: 50px;
    padding: 50px;
    flex-direction: row;
}